<div class="login-area"> 
    <div class="header">
        <h1 class="text-sky-950 text-5xl font-bold font-['Poppins'] tracking-wide">Owlet</h1>
        <img src="" alt=""/>
    </div>

    <h2>Login</h2>
    <p>Please login to your account</p>
    <form>
        <label>Username</label><br>
        <input type="text" placeholder="Username"  name="username" required><br>
        <label>Password</label><br>
        <input type="password" placeholder="Password" name="password" required><br>
        <div>
            <input type="checkbox" name="forgot" value="Forgot"/>
            <label for="forgot">Remember me</label>
            <a href="#" target="_blank">Forgot Password</a>
        </div>
        <input type="submit">
    </form>
</div>

<div class="login-img">
    <img src="" alt=""/>
</div>
